body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	color: #fc1d00;
	background: url("../images/spaceJam/bg-souvenirs.gif");
}

* {
	box-sizing: border-box;
}

/* general */

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

h1,
h2,
h3,
p {
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0;
}

h1,
h2,
h3 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: 700;
	color: #fc1d00;
}

h1 {
	padding-bottom: 20px;
	font-size: 30px;
	line-height: 49px;
	border-bottom: 2px solid #fc1d00;
}

h2,
h3 {
	font-size: 22px;
}

/* header */

#masthead {
	position: fixed;
	z-index: 99;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto;
	color: #ffffff;
	background-image: url("../images/spaceJam/bg_stars.gif");
	border-bottom: 2px solid #cccccc;
}

#logo {
	float: left;
	width: 150px;
	margin: 10px;
}

#logo:hover,
input[type="submit"]:hover {
	background: #5e7f7e;
}

nav a:hover {
	color: #eaf2ff;
}

.social:hover {
	cursor: pointer;
	opacity: 0.8;
}

.wrapper {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	margin: 0 auto -105px;
}

footer,
.push {
	height: 105px;
}

nav {
	float: right;
	margin-top: 25px;
}

nav a {
	display: inline-block;
	padding-left: 15px;
	margin-left: 15px;
	line-height: 18px;
	color: #ffbb00;
	text-decoration: none;
	border-left: 1px solid #efefef;
}

nav a:first-child {
	border-left: 0 none;
}

/* footer */

footer {
	padding: 30px 0;
	clear: both;
	font-size: 12px;
	color: #ffffff;
	color: #ffbb00;
	text-align: center;
	background-image: url("../images/spaceJam/bg_stars.gif");
	border-top: 2px solid #cccccc;
	height: 50px;
}

h3,
h2 {
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
	border-bottom: 2px solid #eeeeee;
}

/* main */

#main-container {
	padding-top: 130px;
	min-height: calc(100vh - 70px);
}

.main-section {
	float: left;
	width: 100%;
	max-width: 960px;
	height: 960px;
	padding: 30px 30px 150px;
	margin: 0 0 40px;
	background: rgb(2, 2, 2, 0.6);
	border: 1px solid #fc1d00;
}

/* project page */

.work {
	position: relative;
	float: left;
	width: 230px;
	height: 230px;
	margin: 20px 0 25px;
	margin-right: 40px;
}

.work img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 190px;
	max-height: 190px;
	width: auto;
	height: auto;
}

.work h3 {
	position: inherit;
	bottom: 20px;
	width: 190px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	font-weight: 300;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #fc1d00;
	border-bottom: 0;
}
.work p {
	position: inherit;
	bottom: 20px;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
}
.work a {
	position: relative;
	text-align: center;
	margin-left: 25px;
	margin-right: auto;
}

.auth-image {
	float: left;
	width: 200px;
	height: auto;
	margin-top: 10px;
	margin-right: 25px;
}
