body {
	background-image: url("../images/spaceJam/bg_stars.gif");
	background-repeat: repeat;
}

h1 {
	color: yellow;
}
p {
	color: red;
}
/* #redship {
	padding: 50px;
} */
.wrapper {
	margin: auto;
	width: 50%;
}

.galaxy {
	margin-left: auto;
	margin-right: auto;
}
.row {
	display: flex;
	flex-direction: row;
}
